.menu-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $primary-color;
    display: flex;
    height: 100%;
    width: 422px;
    flex-direction: column;
    position: fixed;
    z-index: 7;
    top: 0;
    right: 0;
    transition: right 0.3s ease-in-out;

    &.close {
        right: -422px;
    }

    .content-right {
        padding: 50px;
        width: 308px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 10px;
        overflow: scroll;

        &__profile {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: -20px;


            &__texts-name {
                margin-top: 20px;
                color: #0E426F;
            }

            &__texts-age {
                margin-top: -10px;
                color: #5FA1DA;
            }

            i{
                color: black;
            }
        }


        &__blood {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #E8F1F9;
            border-radius: 30px;
            height: 76px;
            padding: 10px;
            text-align: center;
            margin-top: 20px;

            &-column {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0 25px;

                &:not(:first-child) {
                    border-left: 1px solid #ccc;
                }
            }


            &-title {
                font-size: 14px;
                color: #588dc1;
                margin-top: 20px;
                text-align: center;
                opacity: 0.7;
            }

            &-value {
                font-size: 18px;
                font-weight: bold;
                color: #459bd9;
                margin-top: -30%;
            }
        }

        &__calendary {
            background-color: $primary-color;
            margin-top: 20px;
            text-align: center;
            max-width: 100%;
            margin-top: 32px;
            margin-bottom: 32px;



            &-month {
                font-size: 16px;
                display: flex;
                flex-direction: row;

                &-dropdown {
                    border: none;
                    /* Remove a border quando não está selecionado */
                    outline: none;
                    /* Remove a outline quando clicado no botao para dar select*/
                    font-size: 16px;
                    /* Tamanho do text*/
                    color: #1c3d5a;
                    /* Cor text*/
                    appearance: none;
                    /* Tira completamente o estilo ao botao*/
                }

                i {
                    color: #1c3d5a;
                    margin-left: -30px;
                }
            }

            &-days {
                display: flex;
                flex-direction: nowrap;
                justify-content: space-between;
                gap: 5px;
            }


            &-column {
                display: flex;
                flex-direction: column;
                border-radius: 30px;
                width: 70px;
                height: 60px;

                &:hover {
                    background-color: #1A79CB;
            

                    .content-right__calendary-title {
                        color: #ffffff;
                        opacity: 1;
                    }.content-right__calendary-value {
                        color: #ffffff;
                        opacity: 1;
                    }
                }
            }

            &-title {
                font-size: 16px;
                color: #588dc1;
                opacity: 0.7;
                margin-top: 5px;
            }

            &-value {
                font-size: 18px;
                font-weight: bold;
                color: #459bd9;
                margin-top: -5px;
            }
        }


        &__match {
            background-color: #4263EB;
            color: #fff;
            border-radius: 30px;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 15px;
            position: relative;
            background-image: url('../img/medal.png');
            background-repeat: no-repeat;
            background-position: 150px 00px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Sombra leve para destacar
            overflow: hidden;

    
            &-texts {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
            }

            h4 {
                margin-top: -10px;
                margin-bottom: -10px;
            }

            &-white {
                background-color: $primary-color;
                border-top-left-radius: 20px;
                display: flex;
                width: 47px;
                height: 40px;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0px;
                bottom: 0px;
                z-index: 1;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

                i {
                    color: #2E45A4;
                }
            }




            hr {
                width: 90%;
                border: none;
                border-top: 1px solid rgba(255, 255, 255, 0.5);
            }

            &-images {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 15px;

                :not(:first-child) {
                    margin-left: -15px;
                }
            }

        }

        &__health {
            background-color: #E8F1F9;
            height: 182px;
            border-radius: 20px;
            margin-top: 25px;
            background-image: url('../img/caduceus.png');
            background-repeat: no-repeat;
            background-position: 160px 65px;
            align-items: flex-start;
            /* Alinha os itens à esquerda */
            display: flex;
            flex-direction: column;
            font-size: 15px;
            margin-bottom: 32px;



            &-title {
                margin-left: 30px;
                margin-top: 20px;
                color: #0E426F;
            }

            &-info {
                margin-top: -20px;
                margin-left: 30px;
                color: #12548D;

                &-doctor {
                    margin-top: -10px;
                }
            }

            &-hr {
                width: 67%;
                border: none;
                border-top: 1px solid #93B0C8;
                opacity: 0.3;
                margin-left: 30px;
                margin-top: 0px;

            }

            &-followup {
                margin-left: 30px;
                margin-top: 20px;
                color: #009DDE;
                appearance: none;
                text-decoration: none;
            }


        }

        &__postworkout {
            color: #0E426F;
        }

        &__meditation {
            background-color: #E8F1F9;
            border-radius: 20px;
            margin-top: -10px;
            background-image: url('../img/flor.png');
            background-repeat: no-repeat;
            background-position: 170px 55px;
            display: flex;
            flex-direction: column;

            &-title {
                margin-left: 30px;
                margin-top: 30px;
                color: #0E426F;
            }

            &-info {
                margin-left: 30px;
                margin-top: -5px;
                color: #12548D;
            }

            &-coach {
                margin-left: 30px;
                margin-top: -10px;
                color: #12548D;
            }

        }

    }
}