@import './variables';
@import './content';
@import './menuright';
@import './menuleft';
body{
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $background-color;

    &:has(.menu-right:not(.close)){
        .content{
            margin-right: 422px;
            transition: all 0.3s ease-in-out;
        }
    }
}



.button-arrow {
    background-color: rgb(253, 253, 253);
    height: 100px;
    width: 80px;
    position: fixed;
    right: 370px;
    top: 20%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    z-index: 7; 
    transition: right 0.3s ease-in-out;
    i{
        color: purple;
        margin-right: 37px;
    }
    &.close{
        right: -30px;

        i{
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
        }

    }
}

